@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Work+Sans&display=swap');

:root {
	--primary: black;
	--secondary: white;
	--background: #f7f7f7;
	--textColor: black;
	--linkColor: #005da9;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "EB Garamond", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
	color: var(--textColor);
	line-height: 1.6em;
	font-size: 1.2em;
}

/* top shadow */
body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Work Sans";
	text-transform: uppercase;
}

main, header, footer {
	width: clamp(10rem, 70rem, 100%);
	margin: 0 auto;
}

footer {
	background: white;
    padding: 1em;
    text-align: center;
    border-top: 10px solid #2b2b2b;
}


main {
	max-width: 50rem;
	margin: 0 auto;
	padding: 1em 1em 2em;
}

header {
	text-align: center;
	font-family: "Work Sans";
}

header a {
	background-image: none !important;
	color: var(--primary) !important;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	text-decoration: none;
	color: var(--linkColor);
	background-image: linear-gradient(0deg,#005da92e 50%,#0057a92e 50%);
	background-repeat: repeat-x;	
	background-position: 0 25%;
	padding-bottom: 5px;
	transition: background-position .2s cubic-bezier(.33,.66,.66,1);
	background-size: 100% 200%;
}

a[href]:not(:hover) {
	text-decoration: none;
	background-position: 0 1.18em;
}

img {
	max-width: 100%;
	height: auto;
}

header,
main,
footer {
	padding: 1em;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
	/* background: white; */
	padding: .5em .5em .5em;
	text-transform: uppercase;
}

/* Nav */
nav ul {
	padding: 0;
	list-style: none;
	background: var(--textColor);
	padding: 15px;
	margin: 0;
	font-family: "Work Sans";
	font-size: smaller;
	text-transform: uppercase;
}

nav ul :first-child {
	margin-left: 0;
}

nav li {
	display: inline-block;
	margin: 0 .25em;
}

nav li a {
	padding: .25em .5em;
	color: white !important;
	background-image: none !important;
}

nav li a[href]:hover {
	background-color: white;
	color: var(--textColor) !important;
}

nav li a[href]:not(:hover) {
	text-decoration: none;
}

nav li a[data-current="current item"] {
	background-color: white;
	color: var(--textColor) !important;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
	background-image: none !important;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--textColor);
	background-color: var(--textColor);
	color: var(--secondary);
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.15);
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	display: inline-block;
	text-transform: uppercase;
}

button:hover {
	box-shadow: none;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

img.rt {
	float: right;
	margin-left: 1rem;
	max-width: 300px;
}

.page-hero {
	height: 20rem;
  	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
h1 { 
	background: white;
    display: inline-block;
    padding: .2em 1em;
    position: relative;
    top: -50px;
    border-bottom: 10px solid var(--textColor);
    margin-bottom: -50px;
}
.no-hero h1 {
	top: 0px;
	margin-bottom: 0px;
}
table {
	width: 100%;
}
table td {
	background: #ffffff33;
    padding: .4em;
}

blockquote {
  background: var(--background);
  border-left: 10px solid (var(--textColor));
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
}

blockquote:before {
  color: var(--textColor);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}